<header>
  <div class="header-logo">
   <a href="/">ココイケ</a> 
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">ココイケとは</a>
    </li>
  </ul>
</header>

<div class="main top-main">
  <div class="top-message">
    <h2>おいしかった飲食店をシェアしよう</h2>
    <p>説明とか、ログインへのリンクとか？</p>
  </div>
</div>