<div class="posts-index">
  <div class="container">
  <div class="posts">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <h2><%= link_to(post.content, "/posts/#{post.id}") %></h2>
      
      <% if post.image? %>
        <%= link_to image_tag(post.image.url), "/posts/#{post.id}" %>
        
      <% end %>
      </div>
    <% end %>
  </div>
  
  </div>
 
</div>
